.greeting{
    font-weight: 500;
    color:white;
    /* font-size: 100px; */
    text-align: left;
}
.name{
    color:white;
    font-size: 100px;
    /* text-align: center; */
}
.about-section{
    color:white;
    font-size: 25px;
    margin-top: 20px;
}
.tools{
    color:white;
    margin-top: 100px;
    font-size: 40px;
}
.css-image{
    height:100px;
}
.description{
    font-size: 25px;
}
.logo{
    margin-top: 80px;
}
