.greeting{
    font-weight: 500;
    color:white;
    font-size:2.5vh;
    text-align: left;
}
.name{
    color:yellow;
    font-size: 11vh;
    
}
.about-section{
    color:white;
    font-size: 3vh;
    margin-top: 20px;
}
.tools{
    color:white;
    margin-top: 100px;
    font-size: 4.5vh;
}
.css-image{
    height:10vh;
}
.description{
    font-size: 3.5vh;
}
.logo{
    margin-top: 80px;
}
