.project-card{
    background-color: rgb(20, 20, 20);
}
.card-text{
    color:rgb(185, 185, 185);
}
.card-title{
    color:white;
}
.card-system{
    margin-top:90px;
}
.row-spacing{
    margin-top:10px;
}