.greeting{
    font-size: 50px;

}
.contact-section{
    color:white;

    margin-top: 400px;
    margin-bottom: 400px;

    
}
.social-link{
    margin-top: 200px;
    text-decoration: none;
    color: white;
    font-size: 35px;
}
.social-link:hover{
    color:greenyellow;
}
