.nav-link:hover{
    color:beige;
}
.nav-link{
    color:rgb(114, 127, 131)
}
.navbar-brand{
    margin-top: 10px;
}
.nav-list{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav-items{
    margin:25px;
}
.active{
    color: greenyellow;
    font-size: 20px;
    margin-top:6px;
}
.nav-bar{
    justify-self: center;
    background-color: black;
    z-index:99999;
    position: fixed;
    top: 0px;
    width: 100vw;
}
       
